<head>
      <style>
        body {
          margin: 0;
        }
    
        a:hover {
          color: red;
        }
      </style>
    </head>
    
    <div style="text-align: justify; margin: 0 auto; color:black; font-size: 0.8em;">
      <p>
        I am a PhD candidate in the laboratory of <a href="https://themageelab.com/">Jeff Magee</a> at Baylor College of Medicine and HHMI. My current research aims to improve our understanding of the mechanistic basis of neurobiological learning and adaptive behavior. Most models of neurobiological learning are based on synaptic plasticity. Therefore, I am investigating the forms and functions of synaptic plasticity during adaptive behaviors.
      </p>
    
      <p>
        Before graduate school, I developed therapeutic targets for pediatric epilepsy and intellectual disability in the laboratory of  <a href="https://scholar.google.com/citations?user=BsgifUUAAAAJ&hl=en&inst=10220790398908802146">Shilpa Kadam</a> at Kennedy Krieger Children’s Hospital and Johns Hopkins University School of Medicine. As an undergraduate, I investigated A-type K<sup>+</sup> channel function and pharmacology in the laboratory of <a href="https://www.rhodes.edu/bio/kelly-dougherty">Kelly Dougherty</a> at Rhodes College.
      </p>
    </div>
    