<head>
  <style>
      body {
          margin: 0;
          font-family: var(--fontSans);
      }
      a:hover {
          color: red;
      }
  </style>
</head>

<body>
  <div style="text-align: justify; margin: 0 auto; color:black; font-size: 1em;">
    <p> My primary research interest is to identify biophysical mechanisms underlying learning in the brain. I am a Ph.D. candidate in <a href="https://themageelab.com/">Jeff Magee's Lab</a> at Baylor College of Medicine. I graduated from Rhodes College with a B.S. in Neuroscience, where I was in the lab of <a href="https://www.rhodes.edu/bio/kelly-dougherty">Kelly Dougherty</a>. For more information, refer to <a href="https://brennansullivan.info/cv.pdf">my CV</a>. </p>
  </div>
</body>