<div>
  <ul class="resume-item-list papers-list">
    {% for paper in site.data.papers %}
      <li class="paper-item">
        <a href="{{ paper.url }}" class="paper-title-link"><strong>{{ paper.title }}</strong></a>
        <div>
          <span>{{ paper.authors }}, <i>{{ paper.journal }}</i>, {{ paper.year }}</span>
        </div>
        <div class="paper-image-brief-container">
          <div class="paper-image-container">
            <img src="static/images/papers/{{ paper.image }}.{{ paper.imagetype }}" class="paper-image">
          </div>
          <div class="paper-content-container"> <!-- Add a container for paper content -->
            <div class="paper-content">
              <p class="paper-brief">{{ paper.briefly }}</p>
            </div>
          </div>
        </div>
        <div class="paper-link-container">
          <div>
            <a href="static/pdf/papers/{{ paper.image }}.pdf" class="paper-link">PDF</a>
          </div>
        </div>
        {% if paper.code %}
          <a href="{{ paper.code }}" class="paper-link">[code]</a>
        {% endif %}
        {% if paper.demo %}
          <a href="{{ paper.demo }}" class="paper-link">[demo]</a>
        {% endif %}
      </li>
    {% endfor %}
    <li>
      For the full list of papers, please <a href="https://scholar.google.com/citations?user=4WC4CvsAAAAJ&hl=en" target="_blank">see here</a>.
    </li>
  </ul>
</div>
