<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<style>
    body {
        text-align: justify;
    }
</style>
</head>
<body>
<p>The brain is the only example of general intelligence that we know of. My primary research interest is to identify mechanistic principles underlying intelligent behavior in the brain.</p>
<p><strong>H1: How does the brain learn?</strong></p>
<p>An important aspect of intelligence is the brain's ability to change itself with experience. How does experience change the brain, and how is this change useful in guiding adaptive behaviors?</p>
<p><strong>H2: What is the biophysical implementation of learning in the brain?</strong></p>
<p>Learning an adaptive behavior may involve modifications to many brain regions. However, the computation is implemented at the biophysical level of individual synapses, dendrites, and neurons. What biophysical mechanisms adaptively modify the input-output transformations of neurons?</p>
</body>
</html>
