.papers-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.paper-item {
  margin-top: 1.5em;
  margin-left: 0;
  padding: 1em;
  border-radius: 10px;
  border: 1px solid black;
  overflow: auto;
  width: 70%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paper-title-link {
  font-size: small;
  text-decoration: none;
  text-align: center;
  display: block;
}

.paper-image-brief-container {
  display: flex;
  justify-content: space-between;
  width: 20%;
  max-width: 200px;
}

.paper-image-container {
  width: 20%;
}

.paper-image {
  width: 100%;
  height: auto;
}

.paper-content {
  width: 80%;
}

.paper-brief {
  text-align: justify;
}

@media screen and (max-width: 600px) {
  .paper-item {
    flex-direction: column;
    align-items: center;
  }
  .paper-image-container,
  .paper-content {
    width: 100%;
  }
  .paper-image {
    width: 100%;
    height: auto;
  }
  .paper-brief {
    width: 100%;
  }
}