// Styles for each individual paper item
.paper-item {
  margin-top: 1.5em;
  margin-left: 0;
  padding: 1em;
  border-radius: 10px;
  border: 1px solid black;
  overflow: auto;
  width: 80%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Styles for the paper content container
.paper-content-container {
  width: 80%;
  margin-top: 1em;
}

// Styles for the paper image container
.paper-image-container {
  width: 20%;
  max-width: 100px;
}

// Styles for the paper image
.paper-image {
  width: 100%;
  height: auto;
}

// Styles for the paper content
.paper-content {
  width: 100%;
}

// Styles for the paper brief
.paper-brief {
  text-align: justify;
}

@media screen and (max-width: 425px) {
  .paper-item {
    width: 100%;
  }
  .paper-content-container,
  .paper-image-container,
  .paper-content {
    width: 100%;
    max-width: none;
  }
  .paper-image {
    width: 100%;
    height: auto;
  }
  .paper-brief {
    width: 100%;
  }
}
