.header-home
    display: block
    margin: 0 auto
    text-align: center
    position: relative
    z-index: 99

    > .link > .selfie
        width: 350px
        margin-bottom: 25px
        border-radius: 100%
        transition: all .2s
        box-shadow: 0
        opacity: 1

    > .title
        font-size: 4rem
        margin: 0 0 13px

    > .description
        font-size: 1.85rem
        font-weight: 300
        font-style: normal
        color: $alpha
        width: 70%
        margin: 0 auto 30px

        a
            font-weight: 200

.description-typing
    overflow: hidden
    border-right: .15em solid orange
    white-space: nowrap
    margin: 0 auto
    letter-spacing: .15em
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite

@keyframes typing
    from 
        width: 0
    to 
        width: 100%

@keyframes blink-caret
    from, to 
        border-color: transparent
    50% 
        border-color: orange