$fontSans: "Georgia", "Helvetica Neue", sans-serif
$fontMonospace: "Courier New", monospace

$alpha: #000000
$beta: #000000
$gama: #000000
$delta: #000000
$epsilon: #000000
$zeta: #DC0000

$mobile: "only screen and (max-width: 480px)"
$tablet: "only screen and (min-width: 481px) and (max-width: 1050px)"
$above: "only screen and (min-width: 780px)"
$below: "only screen and (max-width: 780px)"