$fontSans: "Publico Text", Helvetica Neue, Helvetica, Arial, sans-serif
$fontMonospace: "Space Mono", Consolas, Liberation Mono, Menlo, Courier, monospace

$alpha: #43464B
$beta: #000000
$gama: #AAACB0
$delta: #000000
$epsilon: #43464B
$zeta: #DC0000

$mobile: "only screen and (max-width: 400px)"
$tablet: "only screen and (min-width: 400px) and (max-width: 1050px)"
$above: "only screen and (min-width: 780px)"
$below: "only screen and (max-width: 780px)"
