$fontSans: "Helvetica Neue", Helvetica, Arial, sans-serif
$fontMonospace: "Consolas", Liberation Mono, Menlo, Courier, monospace

$alpha: #43464B; /* Dark Gray */
$beta: #000000; /* Black */
$gama: #228B22; /* Light Gray */
$delta: #000000; /* Black */
$epsilon: #43464B; /* Dark Gray */

$mobile: "only screen and (max-width: 400px)"
$tablet: "only screen and (min-width: 400px) and (max-width: 1050px)"
$above: "only screen and (min-width: 780px)"
$below: "only screen and (max-width: 780px)"
